server_url: https://${HEADSCALE_DOMAIN_NAME}
listen_addr: 0.0.0.0:8888
metrics_listen_addr: 0.0.0.0:8081
grpc_listen_addr: 0.0.0.0:50443
grpc_allow_insecure: true # We use Fly.io's TLS termination.

ephemeral_node_inactivity_timeout: ${HEADSCALE_EPHEMERAL_NODE_INACTIVITY_TIMEOUT}

log:
  level: ${HEADSCALE_LOG_LEVEL}

noise:
  private_key_path: /var/lib/headscale/noise_private.key

policy:
  mode: database

database:
  type: sqlite
  sqlite:
    path: /var/lib/headscale/db.sqlite
    write_ahead_log: true

prefixes:
  v6: ${HEADSCALE_PREFIXES_V6}
  v4: ${HEADSCALE_PREFIXES_V4}
  allocation: ${HEADSCALE_PREFIXES_ALLOCATION}

derp:
  server:
    enabled: false
  urls:
  - https://controlplane.tailscale.com/derpmap/default

dns:
  magic_dns: ${HEADSCALE_DNS_MAGIC_DNS}
  base_domain: ${HEADSCALE_DNS_BASE_DOMAIN}
  nameservers:
    global: [ ${HEADSCALE_DNS_NAMESERVERS_GLOBAL} ]
  search_domains: [ ${HEADSCALE_DNS_SEARCH_DOMAINS} ]
